# PostgreSQL
DB_HOST=localhost
DB_PORT=PUERTO
DB_NAME=DATABASE
DB_USER=USUARIO
DB_PASSWORD=CONTRASEÑA

# Servidor
PORT=3001
NODE_ENV=development

# Generador horarios api
GENERADOR_HORARIOS_API_URL=http://localhost:3000